{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}

{% block head_block%}
    <title>Sign up for an account</title>
{% endblock %}

{% block bg_block %}
    class="bg-light"
{% endblock %}

{% block body_block %}

	<div class="col-md-6 offset-md-3">
        <div class="py-5 text-center">
            <h2 class="text-primary">Reset password</h2>
        </div>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-primary">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-primary">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="text-success">

			<p>
			    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
			</p>

			<form method="post" action="">
			    {% csrf_token %}

			    {{ form.email|as_crispy_field }}

			    <button type="submit" class="btn btn-danger btn-block">Reset</button>

			</form>
		</div>
	</div>

{% endblock %}