{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}

{% block head_block%}
    <title>Password reset</title>
{% endblock %}

{% block bg_block %}
    class="bg-light"
{% endblock %}

{% block body_block %}

	<div class="col-md-6 offset-md-3">
        <div class="py-5 text-center text-success">
        	<h2 class="text-primary">All set!</h2>
        	<p> We have sent you an email with a link to reset your password. Please check your email and click the link to continue.</p>
        </div>
    </div>
            
{% endblock %}


{# This is used by django.contrib.auth #}
