{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}

{% block head_block%}
    <title>Sign up for an account</title>
{% endblock %}

{% block bg_block %}
    class="bg-light"
{% endblock %}

{% block body_block %}
	
	<div class="col-md-6 offset-md-3">
        <div class="py-5 text-center">
            <h2 class="text-primary">Sign up</h2>
        </div>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-primary">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-primary">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="text-success">

			<form method="post" action="">
				
				{% csrf_token %}

				{{ form.username|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}
			
				<button type="submit" class="btn btn-danger btn-block">Sign up</button>

			</form>
		</div>
	</div>

{% endblock %}

