{% extends 'myevents/base.html' %}
{% load static %}
{% load event_extras %}

{% block head_block%}
	<title>Events</title>
{% endblock %}

{% block nav_block %}
{% endblock %}

{% block bg_block %}
	class="bg-light"
{% endblock %}

{% block body_block %}


	<div class="py-5">
		<h2 class="text-primary">Welcome</h2>
		<p class="lead">With your help, we've put together a list of public, online events, facilitated by Zoom, BlueJeans, and other platforms. Take a look below to see if something piques your interest, and thanks for stopping by.</p>
	</div>

	<div class="py-3">
		<h5 class="text-primary">Upcoming events</h5>
	</div>

	<div class="custom-control custom-switch py-3">
		<input type="checkbox" class="custom-control-input" id="customSwitches" checked="true">
		<label class="custom-control-label" for="customSwitches">
			Table view
		</label>
	</div>

	<div>

		<button type="submit" class="btn btn-outline-success active tableViewButtons mb-1" data-categoryid="all">All</button>

		{% get_all_categories as result %}
		{% for e in result %}
			<button type="submit" class="btn btn-outline-success tableViewButtons mb-1" data-categoryid="{{ e.0 }}">{{ e.1 }}</button>
		{% endfor %}

	</div>

	<br>

	<!--
	<div class="input-group mb-4">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">@</span>
		</div>
		<input type="text" class="form-control" placeholder="Search by keywords">
	</div>
	--> 
	
	<div>

		<table class="table" style="border-collapse:collapse;">
			<thead>
				<tr>
					<th scope="col">Event</th>
					<th scope="col">Date</th>
					<th scope="col">Start</th>
					<th scope="col">Duration</th>
				</tr>
			</thead>

			<tbody id="indexTable">

					{% for e in events %}

					<tr data-toggle="collapse" data-target="#id{{ e.id }}" class="colorChange">
						<td><a href='/myevents/event/{{ e.id }}/' class="text-success">{{ e.title }}</td></a>
						<td>{{ e.day }}</td>
						<td>{{ e.time }}</td>
						<td>{{ e.duration }}</td>
					</tr>
						
					<tr id="id{{ e.id }}" class="collapse hiddenRow">
			            <td colspan="6">
			            	<div class="card-body">
								<strong>Description:</strong>
								{{ e.description }}
								<br>
								<strong>Link to join meeting:</strong>
								{{ e.join }}
							</div>
			            </td>
				    </tr>

					{% endfor %}


			</tbody>

		</table>

		<div id="emptyResult">
		</div>

	</div>

{% endblock %}

{% block javascript %}

	<script src="{% static "js/my.js" %}" crossorigin="anonymous"></script>

{% endblock %}
